table{
  border-collapse: separate;
  font-size: 1.2rem;
}
tr{
  padding: 10px;
}
th{
  background-color: #f0f0f0;
  padding: 10px;
}
td{
  padding: 10px;
  text-align: left;
}
caption{
  font-size: 1.0rem;
}
